# Pandas

    Pandas is fast ,powerful , flexible and easy to use.
open source
data analysis and manipulation tool 
built on top of python programming language.

1. Series(1D)
2. DataFrame(2D)
3. Panel (Multidimentional)

In [1]:
import pandas as pd

In [4]:
#pd.Series(data,index,type)

In [2]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

# Features of a Series

* Its mutable in nature
* Array,Indexing,slicing default
* 1 Dimentional data structure
* We can manipulate Series
* duplicate data and index is allowed.

In [11]:
a=pd.Series([10,12.55,'cs',10000])
a

0       10
1    12.55
2       cs
3    10000
dtype: object

In [7]:
a.ndim

1

In [8]:
a.size

4

In [9]:
a.count()

4

In [10]:
a.shape

(4,)

In [11]:
a.dtype

dtype('O')

In [12]:
a.values  #fetch data

array([10, 12.55, 'cs', 10000], dtype=object)

In [13]:
a.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
p=pd.Series([120,4,180,5])
p

0    120
1      4
2    180
3      5
dtype: int64

In [16]:
p.max()

180

In [17]:
p.min()

4

In [18]:
max(p)

180

In [19]:
p.mean()

77.25

In [20]:
p.median()

62.5

In [21]:
p.mode()

0      4
1      5
2    120
3    180
dtype: int64

In [6]:
q=pd.Series([100,420,410,100,100])
q

0    100
1    420
2    410
3    100
4    100
dtype: int64

In [23]:
q.mode()

0    100
dtype: int64

# Series Structure

In [7]:
p

0    120
1      4
2    180
3      5
dtype: int64

In [25]:
q

0    100
1    420
2    410
3    100
4    100
dtype: int64

In [26]:
a

0       10
1    12.55
2       cs
3    10000
dtype: object

In [32]:
p.append(a)

C:\Users\Dhanashri\AppData\Local\Temp\ipykernel_5436\3722011364.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p.append(a)

0      120
1        4
2      180
3        5
0       10
1    12.55
2       cs
3    10000
dtype: object

# astype():used for typecasting

In [33]:
a

0       10
1    12.55
2       cs
3    10000
dtype: object

In [35]:
p.astype('float')

0    120.0
1      4.0
2    180.0
3      5.0
dtype: float64

In [36]:
q.astype(int)

0    100
1    420
2    410
3    100
4    100
dtype: int32

In [8]:
p

0    120
1      4
2    180
3      5
dtype: int64

In [9]:
q

0    100
1    420
2    410
3    100
4    100
dtype: int64

In [10]:
p.append(q)

C:\Users\Dhanashri\AppData\Local\Temp\ipykernel_6808\3420359036.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p.append(q)

0    120
1      4
2    180
3      5
0    100
1    420
2    410
3    100
4    100
dtype: int64

In [12]:
#problem with index can be solved using ignore_index
p.append(a,ignore_index =True)

C:\Users\Dhanashri\AppData\Local\Temp\ipykernel_6808\3508935370.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  p.append(a,ignore_index =True)

0      120
1        4
2      180
3        5
4       10
5    12.55
6       cs
7    10000
dtype: object

In [13]:
a.append([a,a])

C:\Users\Dhanashri\AppData\Local\Temp\ipykernel_6808\4166869079.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a.append([a,a])

0       10
1    12.55
2       cs
3    10000
0       10
1    12.55
2       cs
3    10000
0       10
1    12.55
2       cs
3    10000
dtype: object

In [14]:
a.append([a,p,q])

C:\Users\Dhanashri\AppData\Local\Temp\ipykernel_6808\3515438000.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a.append([a,p,q])

0       10
1    12.55
2       cs
3    10000
0       10
1    12.55
2       cs
3    10000
0      120
1        4
2      180
3        5
0      100
1      420
2      410
3      100
4      100
dtype: object

# apply()

In [16]:
p.apply(lambda num:num+100)

0    220
1    104
2    280
3    105
dtype: int64

In [17]:
nm=pd.Series(['akash','akki','tejas','abhishek'])
nm

0       akash
1        akki
2       tejas
3    abhishek
dtype: object

In [18]:
nm.apply(lambda num:num.upper()) #names to upper case

0       AKASH
1        AKKI
2       TEJAS
3    ABHISHEK
dtype: object

In [21]:
#convert name to len
nm.apply(lambda num:len(num))

0    5
1    4
2    5
3    8
dtype: int64

In [22]:
log=pd.Series(['14589635-bad56-85264','74122485-erd525-7895d6c'])

In [23]:
log

0       14589635-bad56-85264
1    74122485-erd525-7895d6c
dtype: object

In [24]:
log.apply(lambda num:num.split('-'))

0       [14589635, bad56, 85264]
1    [74122485, erd525, 7895d6c]
dtype: object

In [25]:
log.apply(lambda num:num.split('-')[-1])

0      85264
1    7895d6c
dtype: object

In [27]:
m =pd.Series(['abvcdfhg ewdf','qwerrtyu frfd'])
m

0    abvcdfhg ewdf
1    qwerrtyu frfd
dtype: object

In [28]:
m.apply(lambda num:num.split())

0    [abvcdfhg, ewdf]
1    [qwerrtyu, frfd]
dtype: object

In [29]:
m.apply(lambda num:num.split()[1])

0    ewdf
1    frfd
dtype: object

# describe()

In [30]:
p.describe()

count      4.000000
mean      77.250000
std       87.503809
min        4.000000
25%        4.750000
50%       62.500000
75%      135.000000
max      180.000000
dtype: float64

In [31]:
nm

0       akash
1        akki
2       tejas
3    abhishek
dtype: object

In [32]:
nm.describe()

count         4
unique        4
top       akash
freq          1
dtype: object

In [33]:
nm[1]

'akki'

In [34]:
nm[1]='tushar'

In [35]:
nm

0       akash
1      tushar
2       tejas
3    abhishek
dtype: object

In [37]:
nm.apply(lambda num:num.upper())

0       AKASH
1      TUSHAR
2       TEJAS
3    ABHISHEK
dtype: object

In [41]:
nm.apply(lambda num:num.upper()[1])

0    K
1    U
2    E
3    B
dtype: object

# diff()

In [44]:
p.diff()

0      NaN
1   -116.0
2    176.0
3   -175.0
dtype: float64